# Node.js
node_modules/
jspm_packages/
web_modules/
.npm/
.yarn-integrity
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports
report.*.json

# Build outputs
.cache/
.next/
.nuxt/
.dist/
public/
.vuepress/dist

# Test and coverage
coverage/
.nyc_output/
*.lcov
*.tsbuildinfo
.eslintcache

# Editor
.DS_Store
.vscode/
*.code-workspace
*.sublime-project
*.sublime-workspace   